<app-navbar></app-navbar>
<div class="container mt-10">
  <div class="row">
    <div class="col-3">
      <div class="card-lista">
        <div class="whithframe">
          <h5>Mi Cuenta</h5>
          <div class="flex-container">
            <div class="menu">
              <ul class="list-unstyled">
                  <li>
                      <span class="btn btn" data-bs-toggle="collapse"  role="button" aria-expanded="false" (click)="cambiarPagina('resumen')">Resumen de cuenta</span>
                  </li>
                  <li>
                      <span class="btn btn" data-bs-toggle="collapse"  role="button" aria-expanded="false" (click)="cambiarPagina('configuracion')">Configuracion de cuenta</span>
                  </li>
                  <li>
                      <span class="btn btn" data-bs-toggle="collapse"  role="button" aria-expanded="false" (click)="cambiarPagina('perfil')">Mi perfil</span>
                  </li>
                  <li>
                      <span class="btn btn" data-bs-toggle="collapse"  role="button" aria-expanded="false" (click)="cambiarPagina('historial')">Historial de pedidos</span>
                  </li>
                  <li>
                      <span class="btn btn" data-bs-toggle="collapse"  role="button" aria-expanded="false" (click)="cambiarPagina('marcas')">Marcas favoritas</span>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="content">
        <ng-container *ngIf="nombrePagina == 'resumen'; else mostrarConfiguracion">
          <app-resumen></app-resumen>
        </ng-container>

        <ng-template #mostrarConfiguracion>
          <ng-container *ngIf="nombrePagina == 'configuracion'; else mostrarPerfil">
            <app-configuracion></app-configuracion>
          </ng-container>
        </ng-template>

        <ng-template #mostrarPerfil>
          <ng-container *ngIf="nombrePagina == 'perfil'; else mostrarHistorial">
            <app-perfil></app-perfil>
          </ng-container>
        </ng-template>

        <ng-template #mostrarHistorial>
          <ng-container *ngIf="nombrePagina == 'historial'; else mostrarMarca">
            <app-historial></app-historial>
          </ng-container>
        </ng-template>

        <ng-template #mostrarMarca>
          <app-marca></app-marca>
        </ng-template>
      </div>
    </div>
  </div>
</div>
