
 .container.mt-10 {
  margin-top: 40px; /* Ajusta el margen superior según sea necesario */
}
 .card-lista {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 10px;
  overflow: auto;
  background-color: #fff;
  transition: all;
  padding: 1rem;
}
/* Estilo base para los elementos de la lista */

/*.navbar-nav .nav-link {
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  color: #333;
}
.navbar-brand{
  font-size: 1.5rem;
}
.navbar-nav .nav-link:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
  color: #007bff;
}

.navbar-nav .nav-link {
  text-decoration: none;
}*/


.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu li:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}

.menu li span {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

 Estilos adicionales para el texto si es necesario
.menu li span:hover {
  color: #007bff;
}

/* contenedor de informacion */
.content {
  max-width: 900px;
  margin: 10px auto;
  gap: 20;
}
/* color de fondo */
.head, .col-9{
  background-color: rgb(255, 255, 255);
}
.vip img {
  width: 200px;
  height: auto;

}
.red svg {
  width: 25px;  /* Cambia el tamaño según tus necesidades */
  height: 25px; /* Cambia el tamaño según tus necesidades */
}
/* From Uiverse.io by vihstorck */
.switch {
  /* switch */
  --switch-width: 46px;
  --switch-height: 24px;
  --switch-bg: rgb(131, 131, 131);
  --switch-checked-bg: #1676df;
  --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
  --switch-transition: all 0.2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  /* circle */
  --circle-diameter: 18px;
  --circle-bg: #fff;
  --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
  --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
  --circle-transition: var(--switch-transition);
  /* icon */
  --icon-transition: all 0.2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  --icon-cross-color: var(--switch-bg);
  --icon-cross-size: 6px;
  --icon-checkmark-color: var(--switch-checked-bg);
  --icon-checkmark-size: 10px;
  /* effect line */
  --effect-width: calc(var(--circle-diameter) / 2);
  --effect-height: calc(var(--effect-width) / 2 - 1px);
  --effect-bg: var(--circle-bg);
  --effect-border-radius: 1px;
  --effect-transition: all 0.2s ease-in-out;
}

.switch input {
  display: none;
}

.switch {
  display: inline-block;
}

.switch svg {
  -webkit-transition: var(--icon-transition);
  -o-transition: var(--icon-transition);
  transition: var(--icon-transition);
  position: absolute;
  height: auto;
}

.switch .checkmark {
  width: var(--icon-checkmark-size);
  color: var(--icon-checkmark-color);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch .cross {
  width: var(--icon-cross-size);
  color: var(--icon-cross-color);
}

.slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: var(--switch-transition);
  -o-transition: var(--switch-transition);
  transition: var(--switch-transition);
  cursor: pointer;
}

.circle {
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  background: var(--circle-bg);
  border-radius: inherit;
  -webkit-box-shadow: var(--circle-shadow);
  box-shadow: var(--circle-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  z-index: 1;
  position: absolute;
  left: var(--switch-offset);
}

.slider::before {
  content: "";
  position: absolute;
  width: var(--effect-width);
  height: var(--effect-height);
  left: calc(var(--switch-offset) + (var(--effect-width) / 2));
  background: var(--effect-bg);
  border-radius: var(--effect-border-radius);
  -webkit-transition: var(--effect-transition);
  -o-transition: var(--effect-transition);
  transition: var(--effect-transition);
}

/* actions */

.switch input:checked + .slider {
  background: var(--switch-checked-bg);
}

.switch input:checked + .slider .checkmark {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.switch input:checked + .slider .cross {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch input:checked + .slider::before {
  left: calc(
    100% - var(--effect-width) - (var(--effect-width) / 2) -
      var(--switch-offset)
  );
}

.switch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter) - var(--switch-offset));
  -webkit-box-shadow: var(--circle-checked-shadow);
  box-shadow: var(--circle-checked-shadow);
}

.campo{
  font-size: 14px;
  font-family:tahoma, arial;
}
.datos{
  font-size: 15px;
  font-family: tahoma, arial;
  gap: 1;
}
.radio-group {
  margin: 10px 0;
}
.radio-group label {
  display: block;
  margin: 5px 0;
  font-size: 16px;
  font-family: tahoma, arial;
}

.btn-editar {
  text-align: center;
  margin: 20px 0;
}

.btn-editar button {
  background-color: #212529;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-editar button:hover {
  background-color: #212529;
  transform: scale(1.05);
}

.btn-editar button:active {
  background-color: #212529;
  transform: scale(0.95);
}


