.head {
  background-color: #212529;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: #ddd;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}

.social-button {
  width: 40px;
  height: 40px;
}


Estilos para el botón de búsqueda
.form-control {
  border-radius: 20px;
}

.btn-outline-success {
  color: #212529;
  border-color: #212529;
  border-radius: 20px;
}

.btn-outline-success:hover {
  background-color: #212529;
  color: #ffffff;
}

Estilos para el menú desplegable
.dropdown-menu {
  background-color: #ffffff;
  color: #ffffff;
}

.dropdown-item {
  color: #000000;
}

.dropdown-item:hover {
  background-color: #212529;
  color: #ffffff;
}

Botón de Agregar al Carrito
.add-to-cart-button {
  background-color: #212529;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #1a1c1d;
  transform: scale(1.05);
}

.add-to-cart-button:active {
  background-color: #161819;
}

Formulario de búsqueda
.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.search-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.search-button:hover {
  transform: scale(1.1);
  color: #ddd;
}

@media (max-width: 768px) {
  .header .container {
      flex-direction: column;
      align-items: flex-start;
  }

  .nav-menu {
      flex-direction: column;
      align-items: flex-start;
  }

  .auth-container {
      align-items: flex-start;
  }
}

.btn-primary {
  background-color: #212529;
  color: white;
  border: none;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #212529;
  font-weight: bold;
}

.social-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.social-button:hover {
  transform: scale(1.1);
  color: #ddd;
}


.social-button svg {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}

/* .social-button:hover {
  background-color: #1a1c1d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.social-button:active {
  background-color: #161819;
}
