<div class="card">
  <div class="card-body">
    <h5>Mi perfil</h5><hr>
    <div class="row">
      <div class="col-6">
        <p class="datos">
          Genero
        </p><br>
        <p class="datos">
          Talla
        </p><br>
        <p class="datos">
          Altura
        </p><br>
        <p class="datos">
          Peso
        </p>
      </div>
      <div class="col-6">
        <p class="datos">
          Color de Piel
        </p><br>
        <p class="datos">
          Color de Ojos
        </p><br>
        <p class="datos">
          Color de Cabello
        </p><br>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-4">
        <div class="btn-editar">
          <button (click)="abrireditar()">Editar</button>
        </div>
      </div>
      <div class="col-4">
        <div class="politica">
          <a class="link active">Política de Privacidad</a>
        </div>
      </div>

    </div>
  </div>
</div>
