<div>
  <div class="col-sm-12 p-3 border">
    <div class="row">
        <div class="col-10 d-flex align-items-center">
            <h6 class="h6">Mi Perfil</h6>
        </div>
        <div class="col-2 text-end">
          <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
        </div>
    </div>
  </div>
  <div class="body">
    <div class="col">
      <span class="datos" aling-centre><h5>Género</h5></span>
      <div class="checkbox-group">
        <label>
          <input type="radio" name="genero" value="masculino">
          Masculino
        </label><br>
        <label>
          <input type="radio" name="genero" value="femenino">
          Femenino
        </label><br>
        <label>
          <input type="radio" name="genero" value="Otros">
          Otros
        </label>
      </div><hr>
      <div>
        <app-colorpiel></app-colorpiel>
      </div><hr>
      <div>
        <app-colorcabello></app-colorcabello>
      </div><hr>
      <div>
        <app-colorojos></app-colorojos>
      </div><hr>
      <div>
        <app-talla></app-talla>
      </div><hr>
      <div>
        <app-altura></app-altura>
      </div>
      <div>
        <app-peso></app-peso>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-end mt-3">
        <button type="button" class="btn-next">Anterior</button>
      </div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end mt-3">
        <button type="button" class="btn-next">Siguiente</button>
      </div>
    </div>
  </div>
</div>
