<div class="card">
  <div class="card-body">
    <h5>Historial de pedidos</h5>
    <p class="datos">Aqui podras encontrar tus pedidos realizados</p>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Pago</th>
            <th scope="col">Estado</th>
            <th scope="col">Monto Total</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- <td>{{ i + 1 }}</td> -->
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <button class="btn-detalles">Detalles</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
