<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="https://sm.mashable.com/t/mashable_me/photo/default/untitled-design-2024-02-15t144932092_8ras.1248.png" alt="Image 1">
    </div>
    <div class="swiper-slide">
      <img src="https://sm.mashable.com/t/mashable_me/photo/default/untitled-design-2024-02-15t144932092_8ras.1248.png" alt="Image 2">
    </div>
    <div class="swiper-slide">
      <img src="https://static.wikia.nocookie.net/kpop/images/5/52/Cha_Eun_Woo_para_Entity_4.jpg/revision/latest/scale-to-width-down/1200?cb=20240229153157&path-prefix=es" alt="Image 3">
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
