.svg svg {
  width: 100%;
  height: 100%;
  width: 20px;
  height: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-5 {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}
button {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
button:hover {
  background-color: #e0e0e0;
}
button input[type="checkbox"] {
  margin-right: 10px;
}
button.btn-1 {
  background-color: transparent;
  border: none;
}
button.btn-2 {
  background-color: transparent;
  border: none;
}
button.btn-3 {
  background-color: transparent;
  border: none;
}
button.btn-4 {
  background-color: transparent;
  border: none;
}
button.btn-5 {
  background-color: transparent;
  border: none;
}
button.btn-6 {
  background-color: transparent;
  border: none;
}
button.btn-7 {
  background-color: transparent;
  border: none;
}
button.btn-8 {
  background-color: transparent;
  border: none;
}
button.btn-9 {
  background-color: transparent;
  border: none;
}

button.btn-global:hover {
  color: #c6c6c7;
  transition: color 0.3s ease;
}
.opcion{
  font-size: 15px;
  font-family: tahoma, arial;;
  color: rgb(121, 121, 121);
}
