<div>
  <div class="row">
    <div class="col-sm-4">
      <div class="datos" aling-centre><h5>Color de piel</h5>
      </div>
    </div>
    <div class="col-8">
      <span class="svg">
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="btn-global">
        <button class="btn-1">
          <div class="row">
            <div class="col">
              <svg width="20px" height="20px" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--twemoji" preserveAspectRatio="xMidYMid meet" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#fde7d2" d="M36 32a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4v28z"></path></g></svg>
            </div>
            <div class="col">
              Fria
            </div>
          </div>
        </button><br>
        <button class="btn-2">
          <div class="row">
            <div class="col">
              <svg width="20px" height="20px" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--twemoji" preserveAspectRatio="xMidYMid meet" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#ffe4b8" d="M36 32a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4v28z"></path></g></svg>
            </div>
            <div class="col">
              Clara
            </div>
          </div>
        </button><br>
        <button class="btn-3">
          <svg width="20px" height="20px" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--twemoji" preserveAspectRatio="xMidYMid meet" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#ffdeba" d="M36 32a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4v28z"></path></g></svg>
          Media Clara
        </button><br>
        <button class="btn-4">
          <input type="radio" name="Color de piel" value="media">
          Media
        </button><br>
        <button class="btn-5">
          <input type="radio" name="Color de piel" value="cafe">
          Cafe
        </button><br>
      </div>
    </div>
    <div class="col-5">
      <button class="btn-6">
        <input type="radio" name="Color de piel" value="cafe oscuro">
        Cafe oscuro
      </button><br>
      <button class="btn-7">
        <input type="radio" name="Color de piel" value="oliva">
        Oliva
      </button><br>
      <button class="btn-8">
        <input type="radio" name="Color de piel" value="oscura">
        Oscura
      </button><br>
      <button class="btn-9">
        <input type="radio" name="Color de piel" value="morena">
        Morena
      </button>
    </div>
  </div>
</div>
