<div>
  <div class="datos" aling-centre><h5>Talla de Ropa</h5>
    <div class="row">
      <div class="col-6">
        <label class="form-label"></label>
        <select id="inputPais" class="form-select" name="talla">
          <option value="" disabled selected>Selecciona...</option>
          <option value="Internacional">Internacional</option>
          <option value="Corea">Corea</option>
          <option value="Japon">Japon</option>
          <option value="EE.UU">EE.UU</option>
          <option value="Europa">Europa(UR/FR)</option>
          <option value="China">China</option>
          <option value="Italia">Italia</option>
        </select>
      </div>
      <div class="col-6">
        <label class="form-label"></label>
        <select id="inputPais" class="form-select" name="talla">
          <option value="" disabled selected>Selecciona...</option>
          <option value="XS">XS</option>
          <option value="S">S</option>
          <option value="S-M">S-M</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
        </select>
      </div>
    </div>
  </div>
</div>
