.container {
  text-align: center;
}

.btn-enviar {
  background-color: #212529;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 22px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  height: 100%;
}

.btn-enviar:hover {
  background-color: #212529;
}
